.App {
  background-color: #0b2434;
  display: flex;
  height: 380px;
  margin: 10% auto;
  width: 360px;
}

.gameContainer {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 30px 20px;
  width: 320px;
  height: 320px;
}

.diceContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 35px 30px;
}